

.clock_box {
    margin-top:150px;
    width:200px;
    height:100px;
    margin:auto;
    padding-top:100px;
    overflow:visible;
}


#countdown {
    
    color:rgb(85, 248, 3);
    font-size:100px;
    display:block;
    margin:auto;
}

#start_button {
    display:block;
    margin:auto;
    color:rgb(85, 248, 3);
    background-color:rgb(18, 5, 30);
    width:60px;
    height:40px;
    border-radius:5px;
    border-color:rgb(85, 248, 3);
    cursor:pointer;
    
}

body {
    background-color: rgb(18, 5, 30);
}

.placeholder {
    color:rgb(85, 248, 3);
    font-size:100px;
    margin-top:0px;
}

.placeholder_reverse {
    width:400px;
    height:100px;
    color:rgb(85, 248, 3);
    font-size:100px;
    margin-top:0px;
    display:none;

}
